<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="js/radiobutton.js"></script>
    <script type="text/javascript" src="js/gstatic.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <meta http-equiv="refresh" content="60"/>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function fillOthers() {
            /*<![CDATA[*/

            var others = /*[[${wallets}]]*/;
            for (i = 0; i < others.length; i++) {

                if (others[i].value <= 2.5 && others[i].currency !== "Others") {
                    if(others[i].priceChange1h > 0.0) {
                        $('#events').append('<tr class="extra"><th scope="row" class="bg-success">' + others[i].currency + '</th><td class="bg-success">' + others[i].balance + '</td><td class="bg-success">' + others[i].totalValueBtc + '</td><td class="bg-success">' + others[i].btcValue + '</td><td class="bg-success">' + others[i].value + '</td><td class="bg-success">' + others[i].priceChange1h + '</td><td class="bg-success">' + others[i].provider + '</td></tr>');
                    } else if(others[i].priceChange1h < 0.0) {
                        $('#events').append('<tr class="extra"><th scope="row" class="bg-danger">' + others[i].currency + '</th><td class="bg-danger">' + others[i].balance + '</td><td class="bg-danger">' + others[i].totalValueBtc + '</td><td class="bg-danger">' + others[i].btcValue + '</td><td class="bg-danger">' + others[i].value + '</td><td class="bg-danger">' + others[i].priceChange1h + '</td><td class="bg-danger">' + others[i].provider + '</td></tr>');
                    } else {
                        $('#events').append('<tr class="extra"><th scope="row" >' + others[i].currency + '</th><td >' + others[i].balance + '</td><td >' + others[i].totalValueBtc + '</td><td >' + others[i].btcValue + '</td><td >' + others[i].value + '</td><td >' + others[i].priceChange1h + '</td><td >' + others[i].provider + '</td></tr>');
                    }
                }
            }
            $(".extra").hide();
            /*]]>*/
        }
        $(document).ready(function () {
            $("#extrabutton").click(function () {
                $("#extrabutton").text(($("#extrabutton").text() == 'Show small wallets') ? 'Hide small wallets' : 'Show small wallets');
                $(".extra").toggle();
            });
        });

        function drawChart() {
            /*<![CDATA[*/
            var jswallets = /*[[${wallets}]]*/;
            console.log(jswallets.length);

            var tlArray = [['Wallet', 'EUR']];
            for (i = 0; i < jswallets.length; i++) {
                tlArray.push([jswallets[i].currency, jswallets[i].value])
            }
            /*]]>*/
            console.log(tlArray);

            var data = google.visualization.arrayToDataTable(tlArray);
            var options = {
                chartArea: {top: 5},
                legend: {position: 'bottom'}
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
    <title th:text="&euro; + ''+ ${total}"></title>
</head>
<body onload="fillOthers();">
<div class="container py-2">
    <div class="card">
        <div class="card-header card-primary text-uppercase text-center">
            <h3 style="color: white">Jims Crypto Moneyyz</h3>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-6 text-right">
                    <h4>Total:</h4>
                </div>
                <div class="col-6">
                    <h4 th:text="&euro; + ''+ ${total}"></h4>
                </div>
            </div>

            <div class="row">
                <div class="col-6 text-right">
                    <h4>Change:</h4>
                </div>
                <div class="col col-md-auto">
                    <i class="fa fa-lg fa-arrow-up align-middle py-1" aria-hidden="true" style="color: green;"
                       th:if="${verschil1h &gt; 0}"></i>
                    <i class="fa fa-lg fa-arrow-down align-middle py-1" aria-hidden="true" style="color: red;"
                       th:if="${verschil1h &lt; 0}"></i>
                </div>
                <div class="col ml-0 pl-0">
                    <h5 th:text="''+${verschil1h} +'%'"></h5>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <label class="custom-control custom-radio">
                    <input id="radio1" name="radio" type="radio" class="custom-control-input" value="1h"/>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">1h</span>
                </label>
                <label class="custom-control custom-radio">
                    <input id="radio2" name="radio" type="radio" class="custom-control-input" value="24h"/>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">24h</span>
                </label>
                <label class="custom-control custom-radio">
                    <input id="radio3" name="radio" type="radio" class="custom-control-input" value="1d"/>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">7d</span>
                </label>
            </div>

            <div class="row">
                <div class="col-6 text-right">
                    <h6>Max:</h6>
                </div>
                <div class="col-6">
                    <h6 th:text="&euro; + ''+ ${max}"></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header text-center text-uppercase font-weight-bold"><h3>Wallets</h3></div>
        <div class="card-block py-0 px-0">
            <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Total Value BTC</th>
                    <th>Value BTC</th>
                    <th>Value EURO</th>
                    <th>1h Change</th>
                    <th>Provider</th>
                    <th class="text-center">Alerts</th>
                </tr>
                </thead>
                <tbody id="events">
                <tr th:each="wallet : ${wallets}">
                    <th scope="row" th:text="${wallet.currency}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></th>
                    <th scope="row" th:text="${wallet.currency}"
                        th:if="${wallet.priceChange1h == 0.0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></th>
                    <th scope="row" th:text="${wallet.currency}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></th>

                    <td th:text="${wallet.balance}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.balance}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.balance}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.totalValueBtc}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.totalValueBtc}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.totalValueBtc}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.btcValue}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.btcValue}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.btcValue}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.value}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.value}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.value}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.priceChange1h} +'%'" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.priceChange1h} +'%'"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.priceChange1h} +'%'" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.provider}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.provider}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.provider}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td class="bg-success text-center" th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}">
                        <button class="btn btn-sm  btn-primary " data-toggle="modal" data-target="#exampleModal">Set alert</button>
                    </td>
                    <td class="text-center" th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}">
                        <button class="btn btn-sm  btn-primary " data-toggle="modal" data-target="#exampleModal">Set alert</button>
                    </td>
                    <td class="bg-danger text-center" th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}">
                        <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#exampleModal">Set alert</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row pl-2" th:each="wallet : ${wallets}" th:if="${wallet.currency == 'Others' and wallet.value > 0.0}">
                <div class="col">
                    <button class="btn btn-info pl-2" id="extrabutton" aria-expanded="false">Show small wallets</button>
                </div>

            </div>
        </div>
        <div class="container justify-content-md-center py-5">
            <h3 class="text-center">Verdeling</h3>
            <div class="justify-content-md-center" id="piechart"
                 style="width: 900px; height: 500px; display: block; margin: 0 auto;"></div>
        </div>
    </div>
    <div class="card-footer">
        <p class="text-muted text-center">Created by <a href="#">Jim van Biezen</a> ©</p>
    </div>
</div>


<!-- ALERT MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add meeting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/new/}">
                    <div class="row">
                        <label for="gewicht-input" class="px-3 col col-form-label">Currency Pair:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="gewicht-input"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col col-form-label">Value</label>
                        <div class="col">
                            <input type="text" class="form-control" id="deelnemer-name" readonly="readonly"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Set Alert</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>