<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/styles.css"/>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="js/radiobutton.js"></script>
    <script type="text/javascript" src="js/gstatic.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <meta http-equiv="refresh" content="300"/>
    <script src="js/charts.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart, drawLineChart);

        function fillOthers() {
            /*<![CDATA[*/

            var others = /*[[${wallets}]]*/;
            for (i = 0; i < others.length; i++) {

                if (others[i].value <= 2.5 && others[i].currency !== "Others") {
                    if (others[i].priceChange1h > 0.0) {
                        $('#events').append('<tr class="extra"><th scope="row" class="bg-success">' + others[i].currency + '</th><td class="bg-success">' + others[i].balance + '</td><td class="bg-success">' + others[i].totalValueBtc + '</td><td class="bg-success">' + others[i].btcValue + '</td><td class="bg-success">' + others[i].value + '</td><td class="bg-success">' + others[i].priceChange1h + '</td><td class="bg-success">' + others[i].provider + '</td></tr>');
                    } else if (others[i].priceChange1h < 0.0) {
                        $('#events').append('<tr class="extra"><th scope="row" class="bg-danger">' + others[i].currency + '</th><td class="bg-danger">' + others[i].balance + '</td><td class="bg-danger">' + others[i].totalValueBtc + '</td><td class="bg-danger">' + others[i].btcValue + '</td><td class="bg-danger">' + others[i].value + '</td><td class="bg-danger">' + others[i].priceChange1h + '</td><td class="bg-danger">' + others[i].provider + '</td></tr>');
                    } else {
                        $('#events').append('<tr class="extra"><th scope="row" >' + others[i].currency + '</th><td >' + others[i].balance + '</td><td >' + others[i].totalValueBtc + '</td><td >' + others[i].btcValue + '</td><td >' + others[i].value + '</td><td >' + others[i].priceChange1h + '</td><td >' + others[i].provider + '</td></tr>');
                    }
                }
            }
            $(".extra").hide();
            /*]]>*/
        }
        $(window).resize(function () {
            drawChart();
        });
        $(document).ready(function () {
            $("#extrabutton").click(function () {
                $("#extrabutton").text(($("#extrabutton").text() == 'Show small wallets') ? 'Hide small wallets' : 'Show small wallets');
                $(".extra").toggle();
            });
            $(".carousel").carousel({
                interval: false
            });
        });
        function drawChart() {
            /*<![CDATA[*/
            var jswallets = /*[[${wallets}]]*/;
            console.log(jswallets.length);

            var tlArray = [['Wallet', 'EUR']];
            for (i = 0; i < jswallets.length; i++) {
                tlArray.push([jswallets[i].currency, jswallets[i].value])
            }
            /*]]>*/
            console.log(tlArray);

            var data = google.visualization.arrayToDataTable(tlArray);
            var options = {
                chartArea: {
                    width: '100 %'
                },
                legend: {position: 'bottom'},
                width: 1000,
                height: 500
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        function drawLineChart() {
             var selectedGroupByDropdownBox = document.getElementById("groupBySelector");
             var selectedGroupBy = selectedGroupByDropdownBox.options[selectedGroupByDropdownBox.selectedIndex].value;
             console.log(selectedGroupBy);
            $.get("/totalvalue/"+selectedGroupBy, function (mydata) {
                console.log(mydata);



                var data = google.visualization.arrayToDataTable(mydata);
                var options = {
                    series: {
                        0: {color: 'red'},
                        1: {color: 'green'},
                        2: {color: 'blue'}
                    },
                    interpolateNulls: true,
                    title: 'Portfolio waarde',
                    chartArea:{left:0,top:10,width:"100%"},
                    vAxis:{textPosition: 'in', title: 'Euro'},
                    width: '600',
                    height: 500,
                };
                console.log(" BLALA");
                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            });

        }

    </script>

    <title th:text="&euro; + ''+ ${total}"></title>
</head>
<body onload="fillOthers();drawLineChart();" id="fixedbg">
<br/>
<div class="container">
    <div class="card">
        <div class="card-header card-primary text-uppercase text-center" style="background-color: #a17f1a;border: none">
            <h3 style="background-color: #a17f1a;color: white">Jims Crypto Moneyyz</h3>
        </div>
        <div class="card-block">
            <div class="row justify-content-center">
                <h4 th:text="'Total: &euro;'+${total}"></h4>
            </div>
            <div class="row justify-content-center">
                <i class="fa fa-lg fa-arrow-up align-middle py-1" style="color: green;"
                   th:if="${verschil1h &gt; 0.0}"></i>
                <i class="fa fa-lg fa-arrow-down align-middle py-1" style="color: red;"
                   th:if="${verschil1h &lt; 0.0}"></i>
                <h5 th:text="' Change: '+${verschil1h} +'%'"></h5>
            </div>

            <div class="row justify-content-center">
                <h6>
                    <small th:text="'last checked: '+${#temporals.format(lastChecked, 'dd-MM-yyyy HH:mm')}"></small>
                </h6>
            </div>
            <!--
                        <div class="row justify-content-md-center">
                            <label class="custom-control custom-radio">
                                <input id="radio1" name="radio" type="radio" class="custom-control-input" value="1h"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">1h</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radio2" name="radio" type="radio" class="custom-control-input" value="24h"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">24h</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radio3" name="radio" type="radio" class="custom-control-input" value="1d"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">7d</span>
                            </label>
                        </div>-->

            <div class="row justify-content-center">
                <h6 th:text="'Max: &euro;'+ ${max}"></h6>
            </div>

            <div class="row justify-content-center">
                <h6>
                    <small th:text="${#temporals.format(maxDate, 'dd-MM-yyyy HH:mm')}"></small>
                </h6>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="card">
        <div class="card-header text-center text-uppercase font-weight-bold"><h3>Wallets</h3></div>
        <div class="card-block py-0 px-0">
            <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Total Value BTC</th>
                    <th>Value BTC</th>
                    <th>Value EURO</th>
                    <th>1h Change</th>
                    <th>Provider</th>
                    <th class="text-center">Alerts</th>
                </tr>
                </thead>
                <tbody id="events">
                <tr th:each="wallet : ${wallets}">
                    <th scope="row" th:text="${wallet.currency}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></th>
                    <th scope="row" th:text="${wallet.currency}"
                        th:if="${wallet.priceChange1h == 0.0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></th>
                    <th scope="row" th:text="${wallet.currency}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></th>

                    <td th:text="${wallet.balance}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.balance}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.balance}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.totalValueBtc}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.totalValueBtc}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.totalValueBtc}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.btcValue}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.btcValue}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.btcValue}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.value}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.value}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.value}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.priceChange1h} +'%'" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.priceChange1h} +'%'"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.priceChange1h} +'%'" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td th:text="${wallet.provider}" class="bg-success"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.provider}"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>
                    <td th:text="${wallet.provider}" class="bg-danger align-middle"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}"></td>

                    <td class="bg-success text-center"
                        th:if="${wallet.priceChange1h &gt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}">
                        <button class="btn btn-sm  btn-primary " data-toggle="modal" data-target="#exampleModal">Set
                            alert
                        </button>
                    </td>
                    <td class="text-center"
                        th:if="${wallet.priceChange1h == 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}">
                        <button class="btn btn-sm  btn-primary " data-toggle="modal" data-target="#exampleModal">Set
                            alert
                        </button>
                    </td>
                    <td class="bg-danger text-center"
                        th:if="${wallet.priceChange1h &lt; 0 and (wallet.value &gt; 2.5 or wallet.currency == 'Others')}">
                        <button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#exampleModal">Set
                            alert
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row pl-2" th:each="wallet : ${wallets}"
                 th:if="${wallet.currency == 'Others' and wallet.value > 0.0}">
                <div class="col">
                    <button class="btn btn-info pl-2 mb-2" id="extrabutton" aria-expanded="false">Show small wallets</button>
                </div>

            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header text-center text-uppercase font-weight-bold"><h3>Info</h3></div>
        <div class="card-block py-0 px-0">
            <div id="carousel-info" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="height:600px; width: 100%">
                        <div class="row justify-content-center" style="width: 100%">

                            <div class="col-sm-12 justify-content-center py-2">
                                <center>
                                    Periode:
                                    <select id="groupBySelector" onchange="drawLineChart();" class="custom-select">>
                                        <option value="day" selected="selected">Day</option>
                                        <option value="week">Week</option>
                                        <option value="month">Month</option>
                                        <option value="year">Year</option>
                                    </select>
                                </center>
                            </div>
                            <div class="row">
                                <div id="curve_chart" class="chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item " style="background-color: #2a62bc;" id="test-car">
                        <div id="piechart" class="chart"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-info" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-info" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="card-footer">
            <p class="text-muted text-center">Created by <a href="#">Jim van Biezen</a> ©</p>
        </div>
    </div>


</div>


<!-- ALERT MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add meeting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/new/}">
                    <div class="row">
                        <label for="gewicht-input" class="px-3 col col-form-label">Currency Pair:</label>
                        <div class="col">
                            <input type="text" class="form-control" id="gewicht-input"/>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col col-form-label">Value</label>
                        <div class="col">
                            <input type="text" class="form-control" id="deelnemer-name" readonly="readonly"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Set Alert</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br/>

</body>
</html>