<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>The Crypto Vault</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="styles/styles.css"/>

</head>
<body>
<section id="cover">
    <div id="cover_caption">
        <div class="container">
            <div class="col-sm-10 offset-sm-1"><h1 class="display-3" style="text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;"><b>The Vault</b></h1>
                <form th:action="@{/authenticate}" class="form-inline justify-content-center" method="post">
                    <div class="col-md-auto" style="padding: 0px; margin: 0px">
                        <label class="sr-only">username</label>
                        <input type="text" class="form-control form-control-lg" name="username" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">password</label>
                        <input type="password" class="form-control form-control-lg" name="password"  placeholder="Password"/>
                    </div>
                    <div class="col-md-auto align-baseline">
                        <button type="submit" class="btn btn-success btn-lg align-baseline" style="background-color: #a17f1a; border: none"> Show me the money!</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>