html,
body{
    height: 100%;
    width:100%;
}

#cover{
    background: #222 url('../img/money.jpg') center center no-repeat;
    background-size: cover;
    align-items: center;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;

}

.chart {
    width: 100%;
    min-height: 500px;
}

#cover_caption{
    width: 100%;
}

#fixedbg {
    background: #222 url('../img/money.jpg') center center no-repeat fixed;
    background-size: cover;
    width: 100%;
}


